<!DOCTYPE html>
<html lang="en">
<header id = "header-fragmentSignedIn">
    <meta charset="UTF-8">
    <div class="topnav">
        <div id ="borderContainer">
                <div id = "buttonContainer">
                    <a class="active" href="dashboard">Home</a>
                    <a href="aboutsi">About</a>
                    <a href="research">Trade</a>
                </div>

            <div id = "extraButtonContainer">
                <a href="prelogout">Logout</a>
            </div>

            <div id = "logo">
                big short.
            </div>
        </div>
    </div>

</header>

</html>