<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/portfolio.css">
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fugaz One' rel='stylesheet'>
    <title>Big short</title>
</head>
<body>
<header id = "headerId">

</header>

<div id = "about-title"/>
<div id = "about-content"/>

<div id = "howTo-title"/>
<div id = "howTo-content"/>

<div id = "homePageInformation-title"/>
<div id = "accountInformation-title"/>
<div id = "accountBalance-title"/>
<div id = "accountBalance-content"/>
<div id = "marginAvailable-title"/>
<div id = "marginAvailable-content"/>
<div id = "stockPortfolio-title"/>
<div id = "stockPortfolio-content"/>
<div id = "shortedStockPortfolio-title"/>
<div id = "shortedStockPortfolio-content"/>
<div id = "tradePageInformation-title"/>
<div id = "stockLookup-title"/>
<div id = "stockLookup-content"/>
<div id = "stockInformation-title"/>
<div id = "stockInformation-content"/>
<div id = "trade-title"/>
<div id = "trade-content"/>
<div id = "makeAPurchase-title"/>
<div id = "makeAPurchase-content"/>
<div id = "payWithCash-title"/>
<div id = "payWithCash-content"/>
<div id = "shortThisStock-title"/>
<div id = "shortThisStock-content"/>
<div id = "disclaimer-title"/>
<div id = "disclaimer-content"/>


<footer id = "footerId">

</footer>
</body>
</html>