<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <title>Big short</title>
</head>
<body>
<header id = "headerId">

</header>

<div id = "imageDiv">
    <img id = "backgroundImage"/>
</div>

<p id = "p-welcome"></p>

<footer id = "footerId">

</footer>
</body>
</html>