<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/homestyle.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/failures.css">

    <title>Big short</title>
</head>
<body>
<header id = "headerId">

</header>
<form id = "login-form"
      action="play2" method="post">
    <div id = "displayTextDiv">

        Create an Account:
    </div>
    <div id = "formDiv">
        <div id = "textAndFieldDiv">
       <!-- <div id = "textDiv">

            <div id = "enter-usernameDiv">
                <label id="enter-username" for = "username">Enter your Username</label>
            </div>

            <div id = "enter-passwordDiv">
                <label id="enter-password" for = "password">Enter you Password</label>
            </div>

            <div id = "enter-firstNameDiv">
                <label id="enter-firstNameText" for = "firstName">Enter you First Name</label>
            </div>
            <div id = "enter-lastNameDiv">
                <label id="enter-lastNameText" for = "lastName">Enter you Last Name</label>
            </div>

            <div id = "enter-emailDiv">
                <label id="enter-emailText" for = "email">Enter you Password</label>
            </div>



        </div>
        -->

       <!-- <div id = "fieldDiv"> -->
            <div id = "usernameDivFailed2" align="center">
                <input id="usernameFailed" name = "username" placeholder="Username"/>
            </div>
            <div id = "passwordDivRegister" align="center">
                <input id="password" name = "password" placeholder="Password"/>
            </div>

            <div id = "firstNameDivRegister" align="center">
                <input id="firstName" name = "firstName" placeholder="First Name"/>
            </div>

            <div id = "lastNameDivRegister" align="center">
                <input id="lastName" name = "lastName" placeholder = "Last Name"/>
            </div>

            <div id = "emailDivRegister" align="center">
                <input id="email" name = "email" placeholder="Email Address"/>
            </div>
            <div id = "submitDivRegister" align="center">
                <input id ="submit" type="submit" value= "Submit"/>
            </div>
       <!-- </div> -->

    </div>
        <div id = "usernameTakenInfo">Username is taken</div>
    </div>



</form>

<div id = "imageDiv">
    <img id = "backgroundImage"/>
</div>


<footer id = "footerId">

</footer>
</body>
</html>