<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/homestyle.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>


    <title>Big short</title>
</head>
<body>
<header id = "headerId">

</header>
<form id = "login-form"
      action="play2" method="post">
    <div id = "displayTextDiv">

        Create an Account:
    </div>
    <div id = "formDiv">
        <div id = "textAndFieldDiv">

            <div id = "usernameDivRegister" align="center">
                <input id="username" name = "username" placeholder="Username"/>
            </div>
            <div id = "passwordDivRegister" align="center">
                <input id="password" name = "password" placeholder="Password"/>
            </div>

            <div id = "firstNameDivRegister" align="center">
                <input id="firstName" name = "firstName" placeholder="First Name"/>
            </div>

            <div id = "lastNameDivRegister" align="center">
                <input id="lastName" name = "lastName" placeholder="Last Name"/>
            </div>

            <div id = "emailDivRegister" align="center">
                <input id="email" name = "email" placeholder="Email Address"/>
            </div>



            <div id = "submitDivRegister" align="center">
                <input id ="submit2" type="submit" value= "Submit"/>
            </div>
        </div>
    </div>


</form>

<div id = "imageDiv">
    <img id = "backgroundImage"/>
</div>


<footer id = "footerId">

</footer>
</body>
</html>