<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/portfolio.css">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fugaz One' rel='stylesheet'>
    <title>Big short</title>
</head>
<body>
<header id = "headerId">

</header>
<div id = "email-sent-container">
    <div id = "email-sent-title">

    </div>
</div>


<footer id = "footerId">

</footer>
</body>
</html>